.menu {
    border-top: 1px solid black;
    background: lightblue;
    text-align: center;
}

.menu button {
    margin-right: 10px;
    background: lightgray;
}

.menu:last-child {
    margin-right: 0;
}
